<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>业务数据比对</title>
    <!-- element引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <div id="yi">
        <nav>
            <el-menu theme="dark" default-active="1" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="excel_in">导入</el-menu-item>
                <input type="file" id="file_yi" v-on:change="fileInput" />
                <el-submenu index="2">
                    <template slot="title">Excel模板</template>
                    <el-menu-item index="2-1">下载.xls</el-menu-item>
                    <el-menu-item index="2-2">帮助文档</el-menu-item>
                </el-submenu>
                <el-button class="excel_out" type="primary">导出</el-button>
            </el-menu>
        </nav>
        <section class="tabs_yi">
            <el-tabs type="card">
                <el-tab-pane v-for="(value,key,index) in xlxs_data" :label="key" :name="key">
                    <el-table :data="value" style="width: 100%" empty-text="nothing" highlight-current-row>
                        <el-table-column prop="序号" label="序号" width="180">
                        </el-table-column>
                        <el-table-column prop="车牌号码" label="车牌号码" width="180">
                        </el-table-column>
                        <el-table-column v-if="index == 0" prop="签单日期" label="签单日期">
                        </el-table-column>
                        <el-table-column v-if="index == 0" prop="起保日期" label="起保日期">
                        </el-table-column>
                        <el-table-column v-if="index == 1" prop="终保日期" label="终保日期">
                        </el-table-column>
                        <el-table-column prop="经办人" label="经办人">
                        </el-table-column>
                        <el-table-column v-if="index == 0" prop="纯保费" label="纯保费">
                        </el-table-column>
                        <el-table-column v-if="index == 1" prop="保费" label="保费">
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
            </el-tabs>
        </section>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- element引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.1/xlsx.core.min.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>
</body>

</html>
