<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>业务数据比对</title>
    <!-- element引入样式 -->
    <link rel="stylesheet" href="styles/element-ui-index.css">
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <div id="yi">
        <nav>
            <el-menu theme="dark" default-active="1" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="excel_in">导入</el-menu-item>
                <input type="file" id="file_yi" v-on:change="fileInput" />
                <el-submenu index="2">
                    <template slot="title">Excel模板</template>
                    <el-menu-item index="download_xls"><a href="./download/tempalte.xls" download="数据录入模板.xls" target="_blank">下载.xls</a></el-menu-item>
                    <el-tooltip class="tips-item" effect="dark" content="暂未开放" placement="left-end">
                        <el-menu-item index="2-2">帮助文档</el-menu-item>
                    </el-tooltip>
                </el-submenu>
                <el-button class="excel-out" type="primary" @click="excelOut">导出</el-button>
                <div class="now-time">
                    <el-tooltip class="tips-item" effect="dark" content="暂未开放修改" placement="bottom">
                        <el-date-picker v-model="now_time" type="month" disabled placeholder="当月时间" @change="timeChange">
                        </el-date-picker>
                    </el-tooltip>
                </div>
                <div class="month-target">
                    <el-input v-model="premium_target" placeholder="月保费目标(元)"></el-input>
                </div>
            </el-menu>
        </nav>
        <section class="tabs_yi">
            <el-tabs type="card">
                <el-tab-pane v-for="(value,key,index) in xlxs_data" :label="key" :name="key">
                    <el-table :data="value" style="width: 100%" empty-text="nothing" highlight-current-row>
                        <el-table-column v-if="index !== 5" prop="序号" label="序号" width="180">
                        </el-table-column>
                        <el-table-column v-if="index !== 5" prop="车牌号码" label="车牌号码" width="180">
                        </el-table-column>
                        <el-table-column v-if="index == 0 || index == 3 || index == 4" prop="签单日期" label="签单日期">
                        </el-table-column>
                        <el-table-column v-if="index == 0 || index == 3 || index == 4" prop="起保日期" label="起保日期">
                        </el-table-column>
                        <el-table-column v-if="index == 1 || index == 2" prop="终保日期" label="终保日期">
                        </el-table-column>
                        <el-table-column v-if="index !== 5" prop="经办人" label="经办人">
                        </el-table-column>
                        <el-table-column v-if="index == 0 || index == 3 || index == 4" prop="纯保费" label="纯保费">
                        </el-table-column>
                        <el-table-column v-if="index == 1 || index == 2" prop="保费" label="保费">
                        </el-table-column>
                        <el-table-column v-if="index == 2" prop="跟踪情况" label="跟踪情况">
                        </el-table-column>
                        <el-table-column v-if="index == 2" prop="脱保流向" label="脱保流向">
                        </el-table-column>
                        <el-table-column v-if="index == 5" prop="当月转保单保费" label="当月转保单保费">
                        </el-table-column>
                        <el-table-column v-if="index == 5" prop="当月起保保费" label="当月起保保费">
                        </el-table-column>
                        <el-table-column v-if="index == 5" prop="月保费目标" label="月保费目标">
                        </el-table-column>
                        <el-table-column v-if="index == 5" prop="月进度" label="月进度">
                        </el-table-column>
                        <el-table-column v-if="index == 5" prop="存量保费" label="存量保费">
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
            </el-tabs>
        </section>
    </div>
    <script src="scripts/vue.2.1.10.min.js"></script>
    <script src="scripts/element-ui-index.js"></script>
    <script type="text/javascript" src="scripts/xlsx.core.0.8.1.min.js"></script>
    <script type="text/javascript" src="scripts/FileSaver.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>
</body>

</html>
